
*{
  margin:auto;
  line-height: 50px;
}

body{

  text-align: center;

}
.top-container{
  text-align: center;
  padding-top:100px;
  position: relative;
  padding-bottom:30px;
  background-color: #f8bd7f;
  font-family: 'Architects Daughter', cursive;


}
.first-cloud{
  position: absolute;
  right: 100px;

}
.second-cloud{
  position: absolute;
}
h1{
  font-family: 'Sacramento', cursive;

}
.nam{
  font-size:3.62rem;
}
h2{
  font-family: 'Pacifico', cursive;
}

.proimg{
  padding-top:10px;
  width:100px;
  height:100px;

}
.profile{
  text-align: center;
  line-height:7px;
}
.middle-container{
  background-color:#ffb0b0;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  position: relative;
  padding-bottom:100px;

}
.skills{
    position: absolute;
    top:210px;

    text-align: center;
    background-color:#d6e0f0;
    left:0;
    right:0;
    height:600px;


}

.ht{
 padding-top:30px;
  width:200px;
  height:200px;
  position: absolute;
  left:570px;


}
.cs{
  width:200px;
  height:200px;
  position: absolute;
  top:200px;
  left:360px;
}
.js{
  width:340px;
  height:220px;
  position: absolute;
  top:190px;
  left:700px;
}

.bottom-container{
  position: relative;


}

.contact-me{
  position:absolute;
  top: 420px;
  left: 0;
  right: 0;
  font-family: 'Architects Daughter', cursive;
background-color: #99f3bd;
}

.btn{
  font-family: font-family: 'Architects Daughter', cursive;
}
.footer-link{
  font-family: 'Architects Daughter', cursive;
  width:30px;
  height: 30px;
  margin:10px;
}
